{# ========================================================================= #}
{# ******************* The Map of Sigil: Italian Template ****************** #}
{# ========================================================================= #}

{% extends '_components/_layout.njk' %}


{# General ================================================================= #}
{% set published_at = '2019-05-12T13:53:27+03' %}

{# Italian translation is not ready yet: #}
{% set status = 'β' %}
{% set robots = 'noindex, nofollow' %}


{# Language & Translations ================================================= #}
{% set language = 'it' %}
{% set locale = 'it_IT' %}

{# Available Translations -------------------------------------------------- #}
{% set translations = {
        en: 'Inglese',
        fr: 'Francese',
        it: 'Italiano',
        ru: 'Russo',
        pl: 'Polacco'
    }
%}

{# Page UI ----------------------------------------------------------------- #}
{% set site_name = 'Sussurro Fatuo' %}

{% set title = 'La Mappa di Sigil, Città delle Porte' %}
{% set description = 'Indice di 308 sedi di Sigil ottenuto da materiale ufficiale di Planescape.' %}
{% set header = 'Sigil: La Città delle Porte' %}

{% block mapplic_l10n %}
        var mapplic_localization = {
            more: 'Più',
            search: 'Cerca',
            notfound: 'Non abbiamo trovato nulla. Prova una ricerca diversa.'
        };
{%- endblock %}
