{# Language List ----------------------------------------------------------- #}
                <div class='languages'>
                    <ul>
                        <li class='active'>English</li>
                        <li><a href='{{ base_path }}fr/'>French</a></li>
                        <li><a href='{{ base_path }}it/'>Italian</a></li>
                        <li><a href='{{ base_path }}ru/'>Russian</a></li>
                    </ul>
                </div>
