{# Page Layout ------------------------------------------------------------ -#}
{%- if language != default_language %}{% set base_path = '../' %}{% endif -%}
{%- if not community %}{% set breadcrumbs =  [title, 'Planescape', 'RP', site_name] | join(' :: ') %}{% endif -%}

<!DOCTYPE html>
<html lang='{{ language }}'>
    <head>
        <meta charset='utf-8'>
        <title>{{ breadcrumbs if breadcrumbs else title }}</title>
        <meta name='description' content='{{ description }}'>{% if not community and common.favicons %}
{% for size in common.favicons.size %}
        <link rel='icon' type='image/png' href='{{ common.favicons.dir }}favicon-{{ size }}.png' sizes='{{ size }}'>{% endfor %}{% endif %}

        <meta name='robots' content='{{ robots }}'>{% if not community and base_url %}
        <link rel='canonical' href='{{ base_url }}{% if language != default_language %}{{ language }}/{% endif %}'>{% if translations %}
{% for code, name in translations | dictsort(false, 'value') %}{% if code not in translations_excluded %}
        <link rel='alternate' href='{{ base_url }}{% if code != default_language %}{{ code }}/{% endif %}' hreflang='{{ code }}'>{% endif %}{% endfor %}{% endif %}{% endif %}{% if ogp and base_url %}

        <!-- OPEN GRAPH -->{% if site_name %}
        <meta property='og:site_name' content='{{ site_name }}'>{% endif %}{% if locale %}
        <meta property='og:locale' content='{{ locale }}'>{% endif %}
        <meta property='og:type' content='article'>{% if published_at %}
        <meta property='article:published_time' content='{{ published_at }}'>{% endif %}
        <meta property='og:url' content='{{ base_url }}{% if language !== default_language %}{{ language }}/{% endif %}'>
        <meta property='og:title' content='{{ title }}'>
        <meta property='og:description' content='{{ description }}'>
        <meta property='og:image' content='{{ base_url }}storage/images/{{ language }}/ogp.jpg'>{% endif %}{% if swiftype and base_url %}
{% include '_components/_swiftype.njk' ignore missing %}{% endif %}
        <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no'>

        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i{{ font_subset }}'>
        <link rel='stylesheet' href='{{ base_path }}storage/css/style.min.css'>
    </head>
    <body>
        <div class='header'>
            <div class='logo fa fa-map-o'></div>
            <div class='title'>{{ header }}{% if status %}<sup>{{ status }}</sup>{% endif %}</div>
            <div id='menu'>{% if not community and translations %}
                <div class='languages'>
                    <ul>
                    {%- for code, name in translations | dictsort(false, 'value') %}{% if code not in translations_excluded %}
                        {% if code == language -%}
                            <li class='active'>{{ name }}</li>
                        {%- elif code == default_language -%}
                            <li><a href='{{ base_path }}'>{{ name }}</a></li>
                        {%- else -%}
                            <li><a href='{{ base_path }}{{ code }}/'>{{ name }}</a></li>
                        {%- endif -%}{%- endif -%}
                    {% endfor %}
                    </ul>
                </div>

                <div class='fa fa-globe'></div>{% endif %}
                <div class='fa fa-key'></div>
            </div>
        </div>

    <div id='map'></div>

    <div class='panel from-right'>
        <div class='panel-container'>
            <div class='panel-content'>
{% block readme %}{% include language + '/_readme.njk' %}{% endblock %}{% if community %}
<p class='sidenote'>v1.0.3.</p>
{% endif %}
            </div>
        </div>
    </div>
{% if common.jquery %}
    <script src='{{ common.jquery }}'></script>{% endif %}
    <script src='{{ base_path }}storage/js/plugins.min.js'></script>
    <script>
        $(document).ready(function() {
            $('#menu .fa-key').on('click', function(event) {
                $(this).toggleClass('active');
                $('.panel').toggleClass('is-visible');
            });{% if not community and translations %}

            $('#menu .fa-globe').on('click', function(event) {
                $(this).toggleClass('active');
                $('.languages').toggleClass('is-visible');
           });{% endif %}

            var $map = $('#map').mapplic({
                source: '{{ base_path }}storage/data/{{ language }}/map.json',
                height: 500,{% if developer_mode %}
                developer: true,{% endif %}
                fullscreen: true,
                mapfill: true,
                maxscale: 1
            });

            $map.on('mapready', function(e, self) {
                self.moveTo(0, 0, 0, 0);{% if language !== 'en' %}{% block mapplic_l10n %}{% endblock %}{% endif %}
            });
        });
    </script>{% if analytics_id %}
{% include '_components/_analytics.njk' ignore missing %}{% endif %}
    </body>
</html>
