{# Page Layout ------------------------------------------------------------ -#}
<!DOCTYPE html>
<html lang='{{ language }}'>
    <head>
        <meta charset='utf-8'>
        <title>{{ breadcrumbs if breadcrumbs else title }}</title>
        <meta name='description' content='{{ description }}'>

        {% for size in path.favicons.size -%}
            <link rel='icon' type='image/png' href='{{ path.favicons.dir }}/favicon-{{ size }}.png' sizes='{{ size }}'>
        {% endfor %}
        <meta name='robots' content='{{ robots }}'>{% if not CE %}
        <link rel='canonical' href='{{ canonical_url }}'>{% endif -%}
{% if ogp %}
{% include '_components/_ogp.njk' %}{%- endif %}{% if swiftype %}{% include '_components/_swiftype.njk' %}
{%- endif %}
        <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no'>

        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i{{ font_subset }}'>
        <link rel='stylesheet' href='{{ base_path }}storage/css/style.css'>
    </head>
    <body>
        <div class='header'>
            <div class='logo fa fa-map-o'></div>
            <div class='title'>{{ header }}{% if status %}<sup>{{ status }}</sup>{% endif %}</div>
            <div id='menu'>{% if not CE %}
{% block languages %}{% include '_components/_languages.njk' %}{% endblock %}
                <div class='fa fa-globe'></div>{% endif %}
                <div class='fa fa-key'></div>
            </div>
        </div>

    <div id='map'></div>

    <div class='panel from-right'>
        <div class='panel-container'>
            <div class='panel-content'>
{% block readme %}{% include '_components/_readme.njk' %}{% endblock %}{% if CE %}
<p class='sidenote'>v1.0.2.</p>
{% endif %}
            </div>
        </div>
    </div>
    {% if path.jquery %}
    <script src='{{ path.jquery }}'></script>{% endif %}
    <script src='{{ base_path }}storage/js/plugins.js'></script>
    <script>
        $(document).ready(function() {
            $('#menu .fa-key').on('click', function(event){
                $(this).toggleClass('active');
                $('.panel').toggleClass('is-visible');
            });{% if not CE %}

            $('#menu .fa-globe').on('click', function(event){
               $(this).toggleClass('active');
               $('.languages').toggleClass('is-visible');
           });{% endif %}

            var $map = $('#map').mapplic({
                source: '{{ base_path }}storage/data/{{ language }}/map.json',
                height: 500,
                fullscreen: true,
                mapfill: true,
                maxscale: 1
            });

            $map.on('mapready', function(e, self) {
                self.moveTo(0, 0, 1, 0);{% if not CE %}
                {% block l10n %}{% endblock %}{% endif %}
            });
        });
    </script>
{% if analytics_id -%}{% include '_components/_analytics.njk' %}{%- endif -%}
    </body>
</html>
