{# Open Graph Metadata ----------------------------------------------------- #}
        <!-- OPEN GRAPH -->{% if ogp.site_name %}
        <meta property='og:site_name' content='{{ ogp.site_name }}'>{% endif %}
        <meta property='og:locale' content='{{ ogp.locale }}'>
        <meta property='og:type' content='article'>{% if ogp.published_time %}
        <meta property='article:published_time' content='{{ ogp.published_time }}'>{% endif %}
        <meta property='og:url' content='{{ ogp.url }}'>
        <meta property='og:title' content='{{ ogp.title }}'>
        <meta property='og:description' content='{{ ogp.description }}'>
        <meta property='og:image' content='{{ ogp.image }}'>
