{# Web Analytics Tracking Code -------------------------------------------- -#}
{# 1. Replace the template content with your tracking code snippet, for example:

    <!-- Google Analytics -->
    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', '{{ analytics_id }}', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- Google Analytics -->

where {{ analytics_id }} is the placeholder of your tracking ID.

2. Fill in “analytics_id” token in the gulpfile.js configuration section. #}
{#- ------------------------------------------------------------------------ #}
    <!-- Yandex.Metrika -->
    <script>
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym({{ analytics_id }}, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/{{ analytics_id }}" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- Yandex.Metrika -->
