@import 'components/variables';

/*! Third-party CSS ======================================================== */

@import '../vendor/normalize.css/normalize.css';
@import '../vendor/font-awesome/scss/fontawesome.scss';
@import '../vendor/font-awesome/scss/regular.scss';
@import '../vendor/font-awesome/scss/solid.scss';
@import '../vendor/magnific-popup/magnific-popup.css';
@import '../vendor/mapplic/mapplic.css';

/*! The Map of Sigil ======================================================= */

*,
*::after,
*::before
    {box-sizing: border-box;}

html,
body
    {height: 100%;}

body {
    background: #f0f0f0;
    color: #333;
    font-family: $font-family;
    font-size: 16px;
    line-height: 1;
}


iframe {border: 0;}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {padding: 0;}


a {text-decoration: none;}

b,
strong {font-weight: 500;}

// The Map --------------------------------------------------------------------
#map {
    height: 100% !important; // Make Mapplic use all the window height.
    padding-top: $header__height;
}

#map.mapplic-fullscreen {padding-top: 0;}

@import 'components/scrollbar';
@import 'components/header';
@import 'components/panel';
@import 'components/mapplic';
