{# The Map of Sigil: Community Edition Template ============================ #}
{# The map was originally published as a part of my gaming website, therefore
its main template is too specific.

This one has a bare minimum of configuration options and is intended for
building a “public” release of the map (the one that you download from GitHub).

Among other things, “Community Edition” means no favicons, no Open Graph markup
and no web analytics. Robots <meta> tag is set to 'noindex, nofollow'.
It's up to you how to further set up these elements on your website. #}

{% set CE = true %}

{# Language Settings ------------------------------------------------------- #}
{% set language = 'en' %}

{% set title = 'The Map of Sigil, City of Doors' %}
{% set description = 'Reference index of 260 Sigil venues culled from official Planescape material.' %}
{% set header = 'Sigil: The City of Doors' %}

{# Metadata ---------------------------------------------------------------- #}
{% set robots = 'noindex, nofollow' %}

{# The end. Now do the magic… ============================================== #}
{% extends '_components/_layout.njk' %}
