{# ========================================================================= #}
{# ******************* The Map of Sigil: English Template ****************** #}
{# ========================================================================= #}

{% extends '_components/_layout.njk' %}


{# General ================================================================= #}
{% set published_at = '2016-01-04T23:19:13+03' %}


{# Language & Translations ================================================= #}
{% set language = 'en' %}
{% set locale = 'en_US' %}

{# Available Translations -------------------------------------------------- #}
{% set translations = {
        en: 'English',
        fr: 'French',
        it: 'Italian',
        ru: 'Russian',
        pl: 'Polish'
    }
%}

{# Page UI ----------------------------------------------------------------- #}
{% set site_name = 'Nether Whisper' %}

{% set title = 'The Map of Sigil, City of Doors' %}
{% set description = 'Reference index of 308 Sigil venues culled from official Planescape material.' %}
{% set header = 'Sigil: The City of Doors' %}
