{# ========================================================================= #}
{# ************* The Map of Sigil: English Template (Default) ************** #}
{# ========================================================================= #}

{% extends '_components/_layout.njk' %}


{# General ================================================================= #}
{% set published_at = '2016-01-04T23:19:13+03' %}

{# Language & Translations ================================================= #}
{% set language = 'en' %}
{% set locale = 'en_US' %}

{# Language Selector Options ----------------------------------------------- #}
{% set translations = {
        en: 'English',
        fr: 'French',
        it: 'Italian',
        ru: 'Russian'
    }
%}

{# Page UI ----------------------------------------------------------------- #}
{% set site_name = 'Nether Whisper' %}

{% set title = 'The Map of Sigil, City of Doors' %}
{% set description = 'Reference index of 260 Sigil venues culled from official Planescape material.' %}
{% set header = 'Sigil: The City of Doors' %}


{# Custom Settings: nether-whisper.ru ====================================== #}
{# REMOVE THE SECTION OR PUT HERE YOUR OWN CUSTOM SETTINGS. ---------------- #}

{# Breadcrumbs in <title>: ------------------------------------------------- #}
{# The Map of Sigil, City of Doors :: Planescape :: RP :: Nether Whisper     #}
{% set breadcrumbs =  [title, 'Planescape', 'RP', site_name] | join(' :: ') %}
