{# README ------------------------------------------------------------------ #}
<p class='lead'>Questa mappa deve innanzitutto la sua esistenza a&nbsp;due file caricati tempo fa sul portale planewalker.com: il PDF ad alta <a href='http://mimir.planewalker.com/sites/default/files/Sigil_Map2.pdf'>map of Sigil</a> e&nbsp;<a href='http://mimir.planewalker.com/sites/default/files/Sigil%20Venues2.xls'>Sigil Venues spreadsheet</a>, un elenco di tutte le strade e&nbsp;i&nbsp;luoghi, ricavati dal materiale ufficiale di Planescape.</p>

<p class='lead'>Sostanzialmente questa mappa ha principalmente la funzione di Indice, riportando le informazioni essenziali per ciascun luogo e rimandando al&nbsp;prodotto pubblicato o ad altra fonte dove viene menzionato e trattato quel luogo.</p>{% if not community %}

<p class='lead'>La versione più recente è&nbsp;disponibile su&nbsp;<a href='https://github.com/amargon/city-of-doors/releases/latest'>GitHub</a>.<br>
Chi vuole può entrare nel <a href='https://crowdin.com/project/map-of-sigil'>progetto di&nbsp;traduzione della mappa</a> su&nbsp;Crowdin (segnalate se&nbsp;la&nbsp;vostra lingua non&nbsp;è&nbsp;presente nella lista che&nbsp;trovate).</p>{% endif %}

<h2>Legenda</h2>

<p>Punti per tipologia, ordinati dal più comune al meno conosciuto:</p>

<ul class='legend'>
    <li><span class='fas fa-beer'></span>taverne, bar, osterie</li>
    <li><span class='fas fa-bolt'></span>templi</li>
    <li><span class='fas fa-shopping-basket'></span>negozi</li>
    <li><span class='fas fa-fire'></span>locande, alloggi, pensioni</li>
    <li><span class='fas fa-star'></span>fontane, piazze, punti d’interesse</li>
    <li><span class='fas fa-home'></span>abitazioni, residenze, luoghi di ritrovo</li>
    <li><span class='fas fa-flag'></span>sedi delle Fazioni</li>
    <li><span class='fas fa-briefcase'></span>uffici</li>
    <li><span class='fas fa-flask'></span>laboratori, fucine, speziali</li>
    <li><span class='fas fa-chess-rook'></span>torri, presidi</li>
    <li><span class='fas fa-trophy'></span>municipi</li>
    <li><span class='fas fa-balance-scale'></span>mercati, case d’asta</li>
    <li><span class='fas fa-theater-masks'></span>sale delle feste, arene, gallerie</li>
    <li><span class='fas fa-utensils'></span>ristoranti</li>
    <li><span class='fas fa-monument'></span>monumenti, statue</li>
    <li><span class='fas fa-university'></span>musei, biblioteche</li>
    <li><span class='fas fa-warehouse'></span>magazzini</li>
    <li><span class='fas fa-book-open'></span>librerie, scriptoria</li>
    <li><span class='fas fa-leaf'></span>giardini, parchi, serre</li>
    <li><span class='fas fa-birthday-cake'></span>panifici</li>
    <li><span class='fas fa-heartbeat'></span>sanatori</li>
    <li><span class='fas fa-info'></span>punti informativi</li>
    <li><span class='fas fa-paw'></span>negozi di animali, stalle</li>
    <li><span class='fas fa-spa'></span>bagni pubblici</li>
</ul>

<p>Punti con icone uniche:</p>

<ul class='legend'>
    <li><span class='fas fa-coffee'></span>Café Leonan</li>
    <li><span class='fas fa-paint-brush'></span>Salone dei Tatuaggi di Fell</li>
    <li><span class='fas fa-bug'></span>Ufficio di Igiene e Salute</li>
    <li><span class='fas fa-lock'></span>Palazzo del Giullare</li>
    <li><span class='fas fa-sync-alt'></span>Persona Lavisicum di Rechvad</li>
    <li><span class='fas fa-magic'></span>Società dell’Etere Luminifero</li>
    <li><span class='fas fa-cog'></span>Compagnia dei Costruttori</li>
    <li><span class='fas fa-cut'></span>Barbiere da Tashad</li>
    <li><span class='fas fa-comment'></span>Trianym</li>
</ul>

<h2>Luoghi</h2>

<p>Attualmente in lista si trovano 308 luoghi di Sigil compresi gli indicatori delle vie, ma sulla mappa ci sono solo 289 segnalini (alcuni punti, come La Porta Segreta, non hanno una collocazione fissa). Le informazioni sono state recuperate da tutta una serie di fonti, inclusi la maggior parte dei supplementi ufficiali pubblicati, le avventure e anche i romanzi e&nbsp;i&nbsp;videogiochi rientranti nell’ambientazione.</p>

<p>Il criterio adottato per includere un luogo nell’elenco: deve avere un nome o una dicitura di&nbsp;identificazione univoca, deve trovarsi su Sigil (o per lo meno deve avere il suo accesso principale nella città) e deve avere una qualche funzione o uno scopo (pubblico o privato).</p>

<p>Gli esercizi sono di solito identificati con una dicitura che li qualifica per la loro funzione (come locanda, taverna, ecc).</p>

<p>La gran parte di questi luoghi proviene come fonti dalle pubblicazioni di AD&amp;D 2a edizione, e sono temporalmente antecedenti agli eventi descritti nell’avventura “Faction War”. Molti provengono da avventure e supplementi dove non viene fatta menzione esplicita della loro collocazione temporale nella storia di Sigil, di quando siano comparsi o di quando, eventualmente, abbiano cessato di esistere; dubbi e soluzioni in merito sono lasciati ai&nbsp;singoli DM, come sempre.</p>

<p>Alcuni luoghi, nel loro contesto originale, hanno solo dei vaghi riferimenti riguardo alla loro effettiva collocazione in un&nbsp;Quartiere o in un altro, certi non hanno nemmeno questo tipo di&nbsp;indizi per collocarli. In certi casi, ci sono luoghi che compaiono in più fonti, ma che si contraddicono in merito alla loro posizione. Anche se ogni DM è ovviamente libero di&nbsp;ricollocare questi luoghi ovunque ritenga opportuno e utile alla propria storia, per la creazione della presente mappa è stato necessario trovare loro una posizione definitiva all’interno di uno dei sei Quartieri della città. In questi casi è stata presa una decisione soggettiva, il più possibile basata sul materiale di background disponibile, e comunque questi loughi sono <strong>segnati in rosso</strong> sulla mappa.</p>

<p>Luoghi senza una collocazione e marcati nella lista in grigio.</p>

<p>Dal momento che Sigil è per sua natura mutevole, in grado di espandersi o di ridimensionarsi al volere della Signora del&nbsp;Dolore, con edifici e strade spostati nel tempo dal lavoro dei Dabus, questa mappa ovviamente intende rappresentare <em>UNA</em>&nbsp;possibile configurazione geografica della città, con distanze relative approssimative. La scala di rappresentazione sulla mappa è altrettanto figurativa, con edifici disegnati più grandi solo per dar loro maggiore rilievo, non necessariamente per le&nbsp;loro effettive dimensioni.</p>

<h2>Punteggio</h2>

<p>I luoghi hanno assegnato un punteggio sotto forma di stelle; si tratta di un punteggio, deciso in maniera soggettiva, che indica quanto il luogo sia descritto e dettagliato approfonditamente nelle fonti citate.</p>

<p>Una <strong>sola stella</strong> indica che la fonte ha poco o nessun materiale di riferimento al di là di&nbsp;quello inserito nella voce della mappa.</p>

<p><strong>Due stelle</strong> indica che la fonte fornisce qualche dettaglio aggiuntivo in più rispetto a quanto scritto nella voce della mappa.</p>

<p><strong>Tre stelle</strong> indicano un quantitativo abbastanza consistente di informazioni di background disponibili nelle fonti segnalate.</p>

<p><strong>Quattro stelle</strong> indicano che il luogo viene descritto dettagliatamente con la maggior parte delle informazioni utili al DM, di&nbsp;solito compresa anche una mappa.</p>

<p><strong>Cinque stelle</strong> sono riservate solo ai luoghi completi di ogni informazione, comprese mappe, statistiche dei PNG chiave, informazioni approfondite e anche illustrazioni.</p>

<h2>Riferimenti</h2>

<p>Alcuni luoghi hanno segnalato più pagine e&nbsp;più fonti, ma&nbsp;per lo&nbsp;più trovate segnata solo la&nbsp;fonte principale o&nbsp;con il maggior numero di&nbsp;informazioni.</p>

<p>Di seguito trovate la&nbsp;lista delle fonti usate per la&nbsp;raccolta di&nbsp;materiale su&nbsp;Planescape nella realizzazione di&nbsp;questa mappa:</p>

<ol>
    <li>Planes of&nbsp;Conflict [Boxed Set]&nbsp;— Adventures in&nbsp;Conflict</li>
    <li>Baldur’s Gate&nbsp;II [PC&nbsp;Game]</li>
    <li>Blood Wars Trilogy&nbsp;1: Blood Hostages [Romanzo]</li>
    <li>Blood Wars Trilogy&nbsp;2: Abyssal Warriors [Romanzo]</li>
    <li>Blood Wars Trilogy&nbsp;3: Planar Powers [Romanzo]</li>
    <li>Planes of&nbsp;Chaos [Boxed&nbsp;Set]&nbsp;— Chaos Adventures</li>
    <li>Dead Gods [Avventura]</li>
    <li>Planescape Campaign Setting [Boxed Set]&nbsp;— A&nbsp;DM Guide to&nbsp;the&nbsp;Planes</li>
    <li>Dragon Magazine</li>
    <li>The Deva Spark [Avventura]</li>
    <li>Doors to&nbsp;the&nbsp;Unknown [Avventura]</li>
    <li>Dungeon Magazine</li>
    <li>Die Vecna Die! [Avventura]</li>
    <li>The Eternal Boundary [Avventura]</li>
    <li>Expedition to&nbsp;the&nbsp;Demonweb Pits [Avventura]</li>
    <li>Finder’s Bane [Romanzo]</li>
    <li>Fires of&nbsp;Dis [Avventura]</li>
    <li>Faces of&nbsp;Evil: The&nbsp;Fiends</li>
    <li>The Factol’s Manifesto</li>
    <li>Faction War [Avventura]</li>
    <li>A&nbsp;Guide to&nbsp;the&nbsp;Astral Plane</li>
    <li>A&nbsp;Guide to&nbsp;the&nbsp;Ethereal Plane</li>
    <li>The Great Modron March [Avventura]</li>
    <li>Hellbound: The&nbsp;Blood War [Boxed&nbsp;Set]&nbsp;— The Chant of&nbsp;the&nbsp;War</li>
    <li>Hellbound: The&nbsp;Blood War [Boxed&nbsp;Set]&nbsp;— The Dark of&nbsp;the&nbsp;War</li>
    <li>Harbinger House [Avventura]</li>
    <li>Hellbound: The&nbsp;Blood War [Boxed&nbsp;Set]&nbsp;— War Games</li>
    <li>The Inner Planes</li>
    <li>In the Abyss [Avventura]</li>
    <li>In the Cage: A&nbsp;Guide to&nbsp;Sigil</li>
    <li>Planes of&nbsp;Conflict [Boxed&nbsp;Set]&nbsp;— Liber Benevolentiae</li>
    <li>Planes of&nbsp;Conflict [Boxed&nbsp;Set]&nbsp;— Liber Malevolentiae</li>
    <li>Monstrous Compendium Appendix</li>
    <li>Monstrous Compendium Appendix&nbsp;II</li>
    <li>Monstrous Compendium Appendix&nbsp;III</li>
    <li>On Hallowed Ground</li>
    <li>Planescape Conspectus [Poster]</li>
    <li>Planes of&nbsp;Chaos [Boxed&nbsp;Set]&nbsp;— The Travelogue</li>
    <li>Planescape Campaign Setting [Boxed&nbsp;Set]&nbsp;— A&nbsp;Player’s Guide to&nbsp;the&nbsp;Planes</li>
    <li>The Planeswalker’s Handbook</li>
    <li>Planar Handbook</li>
    <li>Planes of&nbsp;Law [Boxed Set]&nbsp;— Arcadia</li>
    <li>Planes of&nbsp;Law [Boxed Set]&nbsp;— Baator</li>
    <li>Planes of&nbsp;Law [Boxed Set]&nbsp;— Mount Celestia</li>
    <li>Polyhedron Magazine</li>
    <li>Pages of&nbsp;Pain [Romanzo]</li>
    <li>Planescape: Torment [PC&nbsp;Game]</li>
    <li>Planescape: Torment [Romanzo]</li>
    <li>Planescape Campaign Setting [Boxed&nbsp;Set]&nbsp;— Sigil and&nbsp;Beyond</li>
    <li>Something Wild [Avventura]</li>
    <li>Tales From the&nbsp;Infinite Staircase [Avventura]</li>
    <li>Tymora’s Luck [Romanzo]</li>
    <li>Uncaged: Faces of&nbsp;Sigil</li>
    <li>Well of&nbsp;Worlds [Avventura]</li>
</ol>

<h2>Crediti</h2>

<p>Montaggio: Denis “Ambrus” Richard.<br>
Mappa originale: Rob Lazzaretti.<br>
Illustrazioni aggiuntive: Tony DiTerlizzi&nbsp;&amp; David&nbsp;S. “Diesel” LaForce.<br>
Poesia in cornice: <a href='http://rpo.library.utoronto.ca/poems/dolores-notre-dame-des-sept-douleurs'>Dolores</a> di Algernon Charles Swinburne.</p>

<p>Versione italiana: <a href='http://www.planescape.it/'>Mathujoke</a>.</p>

<p>Motore della mappa: <a href='https://codecanyon.net/item/mapplic-custom-interactive-map-jquery-plugin/6275001'>Mapplic</a> di&nbsp;sekler.{% if community %}<br>
Progetto originale: <a href='http://nether-whisper.ru/rp/planescape/map-of-sigil/'>The Map of Sigil, City of Doors</a>.{% endif %}</p>
