{# README ------------------------------------------------------------------ #}
<p class='lead'>Punktem wyjścia do stworzenia mapy były dwa pliki dostępne w&nbsp;serwisie planewalker.com: <a href='http://mimir.planewalker.com/sites/default/files/Sigil_Map2.pdf'>mapa Sigil w&nbsp;formacie PDF</a> w wysokiej rozdzielczości oraz <a href='http://mimir.planewalker.com/sites/default/files/Sigil%20Venues2.xls'>arkusz z listą lokacji w Sigil</a>, kompilacja wszystkich sigilijskich miejscówek opisanych w oficjalnych materiałach do settingu Planescape.</p>

<p class='lead'>Na mapie można znaleźć podstawowe informacje na temat każdej lokacji (jeśli były dostępne). Ważne, by traktować ją jako indeks referencyjny, a nie wyczerpujące źródło mogące zastąpić lekturę oficjalnych podręczników i akcesoriów.</p>{% if not community %}

<p class='lead'>Aktualna wersja jest dostępna na <a href='https://github.com/amargon/city-of-doors/releases/latest'>GitHubie</a>.<br>
Zapraszam do udziału w <a href='https://crowdin.com/project/map-of-sigil'>projekcie tłumaczenia mapy</a> na platformie Crowdin (daj mi znać, jeśli interesującego Cię języka nie ma na liście).</p>{% endif %}

<h2>Legenda</h2>

<p>Rodzaje lokacji uporządkowane w kolejności od najbardziej do najmniej powszechnych:</p>

<ul class='legend'>
    <li><span class='fas fa-beer'></span>tawerny, bary, puby</li>
    <li><span class='fas fa-bolt'></span>świątynie</li>
    <li><span class='fas fa-shopping-basket'></span>sklepy</li>
    <li><span class='fas fa-fire'></span>karczmy, zajazdy, kwatery</li>
    <li><span class='fas fa-star'></span>fontanny, place, charakterystyczne punkty</li>
    <li><span class='fas fa-home'></span>domy, rezydencje, wspólnoty</li>
    <li><span class='fas fa-flag'></span>siedziby frakcji</li>
    <li><span class='fas fa-briefcase'></span>biura</li>
    <li><span class='fas fa-flask'></span>warsztaty, kuźnie, apteki</li>
    <li><span class='fas fa-chess-rook'></span>wieże, garnizony</li>
    <li><span class='fas fa-trophy'></span>siedziby gildii</li>
    <li><span class='fas fa-balance-scale'></span>targowiska, aukcje</li>
    <li><span class='fas fa-theater-masks'></span>gmachy rozrywki, areny, galerie</li>
    <li><span class='fas fa-utensils'></span>restauracje</li>
    <li><span class='fas fa-monument'></span>pomniki, posągi</li>
    <li><span class='fas fa-university'></span>muzea, biblioteki</li>
    <li><span class='fas fa-warehouse'></span>magazyny</li>
    <li><span class='fas fa-book-open'></span>księgarnie, skryptoria</li>
    <li><span class='fas fa-leaf'></span>ogrody, parki, szklarnie</li>
    <li><span class='fas fa-birthday-cake'></span>piekarnie</li>
    <li><span class='fas fa-heartbeat'></span>lecznice</li>
    <li><span class='fas fa-info'></span>punkty informacyjne</li>
    <li><span class='fas fa-paw'></span>sklepy zoologiczne, stajnie</li>
    <li><span class='fas fa-spa'></span>łaźnie</li>
</ul>

<p>Lokacje z własnymi ikonami:</p>

<ul class='legend'>
    <li><span class='fas fa-coffee'></span>Café Leonan</li>
    <li><span class='fas fa-paint-brush'></span>Salon Tatuażu Upadłego</li>
    <li><span class='fas fa-bug'></span>Biuro ds.&nbsp;Szkodników i&nbsp;Zapobiegania Chorobom</li>
    <li><span class='fas fa-lock'></span>Pałac Błazna</li>
    <li><span class='fas fa-sync-alt'></span>Rechvad’s Persona Lavisicum</li>
    <li><span class='fas fa-magic'></span>Society of the Luminiferous Aether</li>
    <li><span class='fas fa-cog'></span>Stone & Cog Construction</li>
    <li><span class='fas fa-cut'></span>Tashad’s Barber Shop</li>
    <li><span class='fas fa-comment'></span>Trianym</li>
</ul>

<h2>Lokacje</h2>

<p>Na liście znajduje się obecnie 308 lokacji, ale na mapę trafiło tylko 289 z nich. Wynika to z faktu, że niektóre miejsca, jak np. Sekretne Drzwi, nie posiadają stałego położenia. Informacje o lokacjach pochodzą z rozmaitych źródeł, w tym z większości oficjalnych materiałów do 2. edycji AD&amp;D, a także powieści i gry komputerowej.</p>

<p>Na liście znalazły się lokacje, które: mają oficjalną lub potoczną nazwę, znajdują się w Sigil (lub mają w nim główny punkt wstępu) oraz pełnią konkretną funkcję (publiczną lub prywatną).</p>

<p>Nazwy lokali poprzedza zwykle wyraz określający rodzaj oferowanych w nich usług (karczma, tawerna itd.).</p>

<p>Znaczna większość lokacji pochodzi z materiałów do 2. edycji AD&amp;D, ukazujących Sigil sprzed Wojny Frakcji opisanej w przygodzie „Faction War”. Wiele z nich pojawia się również w przygodach i suplementach bez informacji o tym, na jakim etapie historii miasta powstały lub przestały istnieć. Mogą się w związku z tym pojawić problemy z chronologią, których rozwiązanie pozostawiam w rękach mistrzów gry.</p>

<p>W przypadku niektórych lokacji źródła nie podają wystarczająco przejrzystych informacji dotyczących ich położenia lub w ogóle milczą na ten temat. Zdarza się też, że informacje zawarte w dwóch różnych materiałach są sprzeczne. Mistrzowie gry mogą wybierać umiejscowienie takich lokacji wedle własnego uznania, jednak na potrzeby tworzenia mapy zostały one subiektywnie przypisane do konkretnych lokalizacji w obrębie sześciu dzielnic miasta. Decyzje takie były podejmowane w oparciu o dostępne materiały źródłowe, a tego typu wpisy zostały <strong>zaznaczone na czerwono</strong>.</p>

<p>Lokacje nieposiadające konkretnego położenia są na liście wyszarzone.</p>

<p>Sigil nieustannie się zmienia&nbsp;— rośnie lub kurczy się w zależności od kaprysu Pani, na której polecenie dabusy potrafią przenosić z miejsca na miejsce budynki lub całe ulice. Mapa przedstawia więc zaledwie jedną możliwą konfigurację struktury miasta i odległości pomiędzy poszczególnymi lokacjami. Skala poszczególnych elementów mapy ma charakter poglądowy; niektóre budynki są na niej celowo powiększone, by podkreślić ich wyjątkowy charakter i znaczenie.</p>

<h2>Ocena</h2>

<p>Przyznawane lokacjom gwiazdki stanowią system subiektywnej oceny tego, jak dokładnie dane miejsce zostało opisane w materiałach źródłowych.</p>

<p><strong>Jedna gwiazdka</strong> oznacza, że źródła nie podają na temat danej lokacji wiele więcej ponad to, co znalazło się we wpisie na liście.</p>

<p><strong>Dwie gwiazdki</strong> wskazują na to, że w materiałach źródłowych można znaleźć kilka dodatkowych informacji nieznajdujących się na liście.</p>

<p><strong>Trzy gwiazdki</strong> należą się lokacjom, którym poświęcono w źródłach obszerne fragmenty tekstu zawierające wiele istotnych informacji.</p>

<p><strong>Cztery gwiazdki</strong> oznaczają, że dana lokacja została przedstawiona bardzo szczegółowo i mistrz gry znajdzie w jej opisie wszystko, co powinien wiedzieć. Zwykle do informacji dołączona jest mapa.</p>

<p><strong>Pięć gwiazdek</strong> otrzymały lokacje opisane ze szczególną dokładnością. Zwykle są w ich przypadku dostępne mapy, statystyki głównych BN-ów, wyczerpujące informacje ogólne, a często również ilustracje.</p>

<h2>Źródła</h2>

<p>W większości przypadków przy danej lokacji podane jest jedno główne lub najbardziej wyczerpujące źródło. Więcej odniesień pojawia się, kiedy w kilku różnych materiałach można znaleźć wyjątkowo istotne informacje.</p>

<p>Poniżej znajduje się pełna lista źródeł wykorzystanych podczas tworzenia mapy:</p>

<ol>
    <li>Planes of&nbsp;Conflict [Boxed Set]&nbsp;— Adventures in&nbsp;Conflict</li>
    <li>Baldur’s Gate&nbsp;II [gra&nbsp;komputerowa]</li>
    <li>Trylogia Wojny Krwi&nbsp;1: Zakładnicy krwi [powieść]</li>
    <li>Trylogia Wojny Krwi&nbsp;2: Wojownicy Otchłani [powieść]</li>
    <li>Trylogia Wojny Krwi&nbsp;3: Bohaterowie Sfer [powieść]</li>
    <li>Planes of&nbsp;Chaos [Boxed&nbsp;Set]&nbsp;— Chaos Adventures</li>
    <li>Dead Gods [przygoda]</li>
    <li>Planescape Campaign Setting [Boxed Set]&nbsp;— A&nbsp;DM Guide to&nbsp;the&nbsp;Planes</li>
    <li>Dragon Magazine</li>
    <li>The Deva Spark [przygoda]</li>
    <li>Doors to&nbsp;the&nbsp;Unknown [przygoda]</li>
    <li>Dungeon Magazine</li>
    <li>Die Vecna Die! [przygoda]</li>
    <li>The Eternal Boundary [przygoda]</li>
    <li>Expedition to&nbsp;the&nbsp;Demonweb Pits [przygoda]</li>
    <li>Finder’s Bane [powieść]</li>
    <li>Fires of&nbsp;Dis [przygoda]</li>
    <li>Faces of&nbsp;Evil: The&nbsp;Fiends</li>
    <li>The Factol’s Manifesto</li>
    <li>Faction War [przygoda]</li>
    <li>A&nbsp;Guide to&nbsp;the&nbsp;Astral Plane</li>
    <li>A&nbsp;Guide to&nbsp;the&nbsp;Ethereal Plane</li>
    <li>The Great Modron March [przygoda]</li>
    <li>Hellbound: The&nbsp;Blood War [Boxed&nbsp;Set]&nbsp;— The Chant of&nbsp;the&nbsp;War</li>
    <li>Hellbound: The&nbsp;Blood War [Boxed&nbsp;Set]&nbsp;— The Dark of&nbsp;the&nbsp;War</li>
    <li>Harbinger House [przygoda]</li>
    <li>Hellbound: The&nbsp;Blood War [Boxed&nbsp;Set]&nbsp;— War Games</li>
    <li>The Inner Planes</li>
    <li>In the Abyss [przygoda]</li>
    <li>In the Cage: A&nbsp;Guide to&nbsp;Sigil</li>
    <li>Planes of&nbsp;Conflict [Boxed&nbsp;Set]&nbsp;— Liber Benevolentiae</li>
    <li>Planes of&nbsp;Conflict [Boxed&nbsp;Set]&nbsp;— Liber Malevolentiae</li>
    <li>Monstrous Compendium Appendix</li>
    <li>Monstrous Compendium Appendix&nbsp;II</li>
    <li>Monstrous Compendium Appendix&nbsp;III</li>
    <li>On Hallowed Ground</li>
    <li>Planescape Conspectus [plakat]</li>
    <li>Planes of&nbsp;Chaos [Boxed&nbsp;Set]&nbsp;— The Travelogue</li>
    <li>Planescape Campaign Setting [Boxed&nbsp;Set]&nbsp;— A&nbsp;Player’s Guide to&nbsp;the&nbsp;Planes</li>
    <li>The Planeswalker’s Handbook</li>
    <li>Planar Handbook</li>
    <li>Planes of&nbsp;Law [Boxed Set]&nbsp;— Arcadia</li>
    <li>Planes of&nbsp;Law [Boxed Set]&nbsp;— Baator</li>
    <li>Planes of&nbsp;Law [Boxed Set]&nbsp;— Mount Celestia</li>
    <li>Polyhedron Magazine</li>
    <li>Strony bólu [powieść]</li>
    <li>Planescape: Torment [gra&nbsp;komputerowa]</li>
    <li>Planescape: Torment [powieść]</li>
    <li>Planescape Campaign Setting [Boxed&nbsp;Set]&nbsp;— Sigil and&nbsp;Beyond</li>
    <li>Something Wild [przygoda]</li>
    <li>Tales From the&nbsp;Infinite Staircase [przygoda]</li>
    <li>Tymora’s Luck [powieść]</li>
    <li>Uncaged: Faces of&nbsp;Sigil</li>
    <li>Well of&nbsp;Worlds [przygoda]</li>
</ol>

<h2>Autorzy</h2>

<p>Montaż: Denis “Ambrus” Richard.<br>
Oryginalna kartografia: Rob Lazzaretti.<br>
Dodatkowe ilustracje: Tony DiTerlizzi&nbsp;&amp; David&nbsp;S. “Diesel” LaForce.<br>
Wiersz: <a href='http://rpo.library.utoronto.ca/poems/dolores-notre-dame-des-sept-douleurs'>Dolores</a> Algernona Charlesa Swinburne’a w przekładzie Antoniego Lange.</p>

<p>W tłumaczeniu wykorzystano terminy opracowane przez <a href="https://sfery.fandom.com/wiki/Sferopedia">Sferopedystów</a>.</p>

<p>Silnik mapy: <a href='https://codecanyon.net/item/mapplic-custom-interactive-map-jquery-plugin/6275001'>Mapplic</a> by&nbsp;sekler.{% if community %}<br>
Oryginalny projekt: <a href='http://nether-whisper.ru/rp/planescape/map-of-sigil/'>The Map of Sigil, City of Doors</a>.{% endif %}</p>
