/* HEADER ------------------------------------------------------------------ */

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height: $header__height;
    width: 100%;
    overflow: hidden;

    background-color: #33414a;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    color: #fff;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: $font-weight__normal;
    line-height: $header__height;
}

.header > div {
    float: left;
    height: 100%;
}

.logo.fa {
    font-size: 34px;
    font-size: 2.125rem;
    line-height: $header__height;
    margin-right: $header-button__margin;
    padding: 0 $header-button__margin;
}

.title sup { /* β */
    color: $header-color__secondary;
    margin-left: .1em;
}

#menu {
    float: right;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: $header-button__size;
    margin: 0 $header-button__margin;
    padding: $header-button__margin 0;
}

#menu .fa {
    float: left;
    width: $header-button__size;
    height: $header-button__size;
    border-radius: 50%;
    cursor: pointer;
    line-height: $header-button__size;
    margin-left: $header-button__margin;
    text-align: center;
    transition: background-color .6s ease-out;
}

#menu .fa:hover,
#menu .fa.active {
    background: $header-color__secondary;
    transition: background-color .3s ease-in;
}

// Language List --------------------------------------------------------------
#menu .languages {
    float: left;
    height: $header-button__size;
    color: $header-color__secondary;
    font-size: 16px;
    line-height: $header-button__size;
    text-align: right;

    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.3s ease-out, transform 0.3s;
}

#menu .languages.is-visible {
    transform: translateY(0);
    opacity: 1;
    transition: opacity 0.3s ease-in, transform 0.3s;
}

#menu .languages ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu .languages li {
    display: inline-block;
    margin: 0 0 0 12px;
    padding: 0;
}

#menu .languages li.active {color: #fff;}

#menu .languages a,
#menu .languages a:visited {
    color: $header-color__secondary;
    transition: color .6s ease-out;
}

#menu .languages a:hover,
#menu .languages a:active {
    color: #9dabb9;
    transition: color .3s ease-in;
}

#menu .languages .active a,
#menu .languages .active a:hover,
#menu .languages .active a:active,
#menu .languages .active a:visited {
    color: #fff;
}

@media only screen and (max-width: 667px) {
    .header {overflow: visible;}

    #menu .languages ul {
        background-color: #33414a;
        border: 1px solid $header-color__secondary;
        border-radius: 4px;
    }

    #menu .languages li {
        display: block;
        margin: 0;
        padding: 0 12px;
        text-align: left;
    }
}
