/* MAPPLIC MAP ELEMENTS ---------------------------------------------------- */

// Match the sidebar background color to the search panel background color:
.mapplic-sidebar {background-color: #f8f8f8;}

// Override default sidebar, minimap and tooltip sizes:
@media only screen and (max-width: 667px) {
    .mapplic-sidebar {height: auto;}
}

@media only screen and (min-width: 1024px) {
    .mapplic-sidebar {width: 20%;}
    .mapplic-container {width: 80%;}
}

@media only screen and (min-width: 1200px) {
    .mapplic-minimap {width: 300px;}
    .mapplic-minimap-background {width: 300px !important;}

    .mapplic-tooltip {max-width: 500px;}
    .mapplic-tooltip-content {max-height: 300px;}
}

// Set lighter font for venue categories:
.mapplic-list-category > a .mapplic-list-count {font-weight: $font-weight__strong;}

// Dont't blur the minimap:
.mapplic-minimap-background {filter: none;}

// Highlight unplaced venues:
.mapplic-list-location.unplaced h4 {color: #888;}


// Override map pin style -----------------------------------------------------
.mapplic-pin.circular {
    width: 20px;
    height: 20px;
    margin-left: -9px;
    margin-top: -9px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3),
                inset 0 1px 0 rgba(255, 255, 255, .3);
}

.mapplic-pin.circular.large {
    width: 30px;
    height: 30px;
    margin-left: -12px;
    margin-top: -12px;
}

.mapplic-pin.circular:not(.fa)::after,
.mapplic-pin.circular:not(.fa)::before {
    content: '';
    position: absolute;
    bottom: auto;
    right: auto;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
}

.mapplic-pin.circular:not(.fa)::after {
    height: 2px;
    width: 8px;
}

.mapplic-pin.circular:not(.fa)::before {
    height: 8px;
    width: 2px;
}

.mapplic-pin.circular.fa {
    color: #fff;
    font-size: 12px;
    font-size: .75rem;
    line-height: 20px;
    text-align: center;
}

.mapplic-pin.circular.large.fa {
    font-size: 16px;
    font-size: 1rem;
    line-height: 30px;
}


// Override tooltip style -----------------------------------------------------
.mapplic-tooltip-description p {color: #999;}

.mapplic-tooltip-description b,
.mapplic-tooltip-description strong
    {color: #666;}


// Override lightbox style ----------------------------------------------------
.mapplic-lightbox-title {
    color: #333;
    font-size: 20px;
    font-weight: $font-weight__normal;
    line-height: 20px;
    margin: 0;
}

.mapplic-lightbox-description p {
    color: #666;
    font-size: 14px;
    line-height: 22px;
    margin: 12px 0 0;
}

.mapplic-lightbox-description b,
.mapplic-lightbox-description strong
    {color: #444;}


// Add location rating --------------------------------------------------------
.mapplic-tooltip-description .fa:before,
.mapplic-lightbox-description .fa:before
    {margin-right: .2em;}

.mapplic-tooltip-description .fa-star,
.mapplic-lightbox-description .fa-star
    {color: #fdca2a;}

.mapplic-tooltip-description .special .fa-star,
.mapplic-lightbox-description .special .fa-star
    {color: #bf5138;}

.mapplic-tooltip-description .fa-star-o,
.mapplic-lightbox-description .fa-star-o
    {color: #d6d6d6;}

// Add location labels --------------------------------------------------------
.mapplic-tooltip-description .labels,
.mapplic-lightbox-description .labels {
    list-style: none;
    overflow: hidden;
    padding: 0;
}

.mapplic-tooltip-description .labels {
    font-size: 13px;
    line-height: 20px;
    margin: 5px 0 0;
}

.mapplic-lightbox-description .labels {
    font-size: 14px;
    line-height: 22px;
    margin: 7px 0 0;
}

.mapplic-tooltip-description .labels li,
.mapplic-lightbox-description .labels li {
    float: left;
    color: #fff;
    background-color: #a680b3;
    margin: 5px 5px 0 0;
    padding: 4px 6px;
    white-space: nowrap;
}
