{# README ------------------------------------------------------------------ #}
<p class='lead'>This map descends from two well-known planewalker.com downloads: hi-res PDF <a href='http://mimir.planewalker.com/sites/default/files/Sigil_Map2.pdf'>map&nbsp;of&nbsp;Sigil</a> and&nbsp;<a href='http://mimir.planewalker.com/sites/default/files/Sigil%20Venues2.xls'>Sigil Venues spreadsheet</a>, a&nbsp;compilation of&nbsp;all named venues culled from official Planescape material.</p>

<p class='lead'>It lists basic information about each location, wherever available, and&nbsp;is&nbsp;primarily intended to&nbsp;serve as a&nbsp;reference index rather than a&nbsp;substitute for&nbsp;the&nbsp;various products in&nbsp;which these venues appear.</p>{% if not community %}

<p class='lead'>The latest release is also available on <a href='https://github.com/amargon/city-of-doors/releases/latest'>GitHub</a>.<br>
Feel free to join the <a href='https://crowdin.com/project/map-of-sigil'>map translation project</a> on Crowdin (and let me know if your language is&nbsp;not in&nbsp;the&nbsp;list yet).</p>{% endif %}

<h2>Locations</h2>

<p>There are currently 292 Sigil venues in the list, but only 281 map pins (some venues like The&nbsp;Secret Door simply don’t have a&nbsp;constant location). Data have been culled from a&nbsp;variety of&nbsp;sources including most official 2e&nbsp;supplements, adventures and even setting specific novels and a&nbsp;video game.</p>

<p>Тo be included in&nbsp;this compilation a&nbsp;location needs to have a&nbsp;proper name or&nbsp;unique moniker, be&nbsp;located in&nbsp;Sigil (or&nbsp;at&nbsp;least have its primary access point in&nbsp;Sigil) and serve some type of&nbsp;identifiable function (be&nbsp;it&nbsp;public or&nbsp;private).</p>

<p>Places of business are usually followed by a&nbsp;qualifier which identifies the type of&nbsp;establishment it&nbsp;is (for&nbsp;example: inn, tavern, etc).</p>

<p>The vast majority of&nbsp;these venues find their origins in&nbsp;2e&nbsp;AD&amp;D sources which predate the events described in&nbsp;the&nbsp;Faction War adventure. Many are also culled from adventures and supplements with no&nbsp;clear mention of&nbsp;when in&nbsp;the&nbsp;city’s history these venues came into being or&nbsp;later became defunct; leaving dubious timeline issues and the&nbsp;fates of&nbsp;some of&nbsp;the&nbsp;locations for&nbsp;individual DMs to&nbsp;resolve.</p>

<p>Some venues, in&nbsp;their original context, have only dubious mentions concerning their placement within the&nbsp;city’s wards while others offer no&nbsp;such clues. In other circumstances some of&nbsp;the venues have two or&nbsp;more sources which contradict each other in&nbsp;regards to location. Although individual DMs are free to&nbsp;place such venues in&nbsp;whichever ward suits their own tastes and story needs, for the purpose of&nbsp;creating the accompanying Sigil Map, it was necessary to&nbsp;ascribe each venue a&nbsp;definitive position within the&nbsp;city’s six wards. In such circumstances a&nbsp;subjective decision was made based on&nbsp;the available background material and the resultant entry is&nbsp;<strong>marked in&nbsp;red</strong>.</p>

<p>Venues without an exact location are greyed-out in the list.</p>

<p>Since Sigil is&nbsp;described as&nbsp;being morphic in&nbsp;nature, both growing and shrinking at&nbsp;the Lady’s whim with both buildings and&nbsp;streets being moved&nbsp;by the&nbsp;Dabus over time, the map is&nbsp;intended to&nbsp;represent only one possible geographic configuration of&nbsp;the&nbsp;city with approximate distances. Scale of&nbsp;the&nbsp;features on&nbsp;the&nbsp;map is&nbsp;only representational, meaning that individual buildings are purposefully enlarged to&nbsp;depict appearance and importance rather than relative scale to&nbsp;each other.</p>

<h2>Rating</h2>

<p>Star rating is a&nbsp;subjective evaluation of&nbsp;how&nbsp;completely the venue is&nbsp;described in&nbsp;the&nbsp;source material.</p>

<p>A <strong>single star</strong> indicates that the&nbsp;source material contains little to&nbsp;no&nbsp;information beyond what is&nbsp;included in&nbsp;the&nbsp;list.</p>

<p><strong>Two stars</strong> indicate that the&nbsp;source material contains a&nbsp;few additional background details beyond what is&nbsp;included in&nbsp;the&nbsp;list.</p>

<p><strong>Three stars</strong> indicate that there is significant background information available in&nbsp;the&nbsp;source material concerning the venue, possibly including some significant background information.</p>

<p><strong>Four stars</strong> indicate that the venue is&nbsp;described in&nbsp;great detail with most of&nbsp;the&nbsp;pertinent information a&nbsp;DM might like to&nbsp;know, usually including a&nbsp;map.</p>

<p><strong>Five stars</strong> are reserved for fully fleshed-out venues, usually including maps, key NPC stats, extensive background information and possibly even artwork.</p>

<h2>References</h2>

<p>Some venues are listed with multiple pages and multiple sources if&nbsp;significant information is&nbsp;available elsewhere but, in&nbsp;most instances, only a&nbsp;venue’s primary or&nbsp;best available source material is&nbsp;referenced.</p>

<p>Below is the full list of Planescape material used to make up this map:</p>

<ol>
    <li>Planes of&nbsp;Conflict [Boxed Set]&nbsp;— Adventures in&nbsp;Conflict</li>
    <li>Baldur’s Gate&nbsp;II [PC&nbsp;Game]</li>
    <li>Blood Wars Trilogy&nbsp;1: Blood Hostages [Novel]</li>
    <li>Blood Wars Trilogy&nbsp;2: Abyssal Warriors [Novel]</li>
    <li>Blood Wars Trilogy&nbsp;3: Planar Powers [Novel]</li>
    <li>Planes of&nbsp;Chaos [Boxed&nbsp;Set]&nbsp;— Chaos Adventures</li>
    <li>Dead Gods [Adventure]</li>
    <li>Planescape Campaign Setting [Boxed Set]&nbsp;— A&nbsp;DM Guide to&nbsp;the&nbsp;Planes</li>
    <li>Dragon Magazine</li>
    <li>The Deva Spark [Adventure]</li>
    <li>Doors to&nbsp;the&nbsp;Unknown [Adventure]</li>
    <li>Dungeon Magazine</li>
    <li>Die Vecna Die! [Adventure]</li>
    <li>The Eternal Boundary [Adventure]</li>
    <li>Expedition to&nbsp;the&nbsp;Demonweb Pits [Adventure]</li>
    <li>Finder’s Bane [Novel]</li>
    <li>Fires of&nbsp;Dis [Adventure]</li>
    <li>Faces of&nbsp;Evil: The&nbsp;Fiends</li>
    <li>The Factol’s Manifesto</li>
    <li>Faction War [Adventure]</li>
    <li>A&nbsp;Guide to&nbsp;the&nbsp;Astral Plane</li>
    <li>A&nbsp;Guide to&nbsp;the&nbsp;Ethereal Plane</li>
    <li>The Great Modron March [Adventure]</li>
    <li>Hellbound: The&nbsp;Blood War [Boxed&nbsp;Set]&nbsp;— The Chant of&nbsp;the&nbsp;War</li>
    <li>Hellbound: The&nbsp;Blood War [Boxed&nbsp;Set]&nbsp;— The Dark of&nbsp;the&nbsp;War</li>
    <li>Harbinger House [Adventure]</li>
    <li>Hellbound: The&nbsp;Blood War [Boxed&nbsp;Set]&nbsp;— War Games</li>
    <li>The Inner Planes</li>
    <li>In the Abyss [Adventure]</li>
    <li>In the Cage: A&nbsp;Guide to&nbsp;Sigil</li>
    <li>Planes of&nbsp;Conflict [Boxed&nbsp;Set]&nbsp;— Liber Benevolentiae</li>
    <li>Planes of&nbsp;Conflict [Boxed&nbsp;Set]&nbsp;— Liber Malevolentiae</li>
    <li>Monstrous Compendium Appendix</li>
    <li>Monstrous Compendium Appendix&nbsp;II</li>
    <li>Monstrous Compendium Appendix&nbsp;III</li>
    <li>On Hallowed Ground</li>
    <li>Planescape Conspectus [Poster]</li>
    <li>Planes of&nbsp;Chaos [Boxed&nbsp;Set]&nbsp;— the Travelogue</li>
    <li>Planescape Campaign Setting [Boxed&nbsp;Set]&nbsp;— A&nbsp;Player’s Guide to&nbsp;the&nbsp;Planes</li>
    <li>The Planeswalker’s Handbook</li>
    <li>Planar Handbook</li>
    <li>Planes of&nbsp;Law [Boxed Set]&nbsp;— Arcadia</li>
    <li>Planes of&nbsp;Law [Boxed Set]&nbsp;— Baator</li>
    <li>Planes of&nbsp;Law [Boxed Set]&nbsp;— Mount Celestia</li>
    <li>Polyhedron Magazine</li>
    <li>Pages of&nbsp;Pain [Novel]</li>
    <li>Planescape: Torment [PC&nbsp;Game]</li>
    <li>Planescape: Torment [Novel]</li>
    <li>Planescape Campaign Setting [Boxed&nbsp;Set]&nbsp;— Sigil and&nbsp;Beyond</li>
    <li>Something Wild [Adventure]</li>
    <li>Tales From the&nbsp;Infinite Staircase [Adventure]</li>
    <li>Tymora’s Luck [Novel]</li>
    <li>Uncaged: Faces of&nbsp;Sigil</li>
    <li>Well of&nbsp;Worlds [Adventure]</li>
</ol>

<h2>Credits</h2>

<p>Montage: Denis “Ambrus” Richard.<br>
Original cartography: Rob Lazzaretti.<br>
Additional artwork: Tony DiTerlizzi&nbsp;&amp; David&nbsp;S. “Diesel” LaForce.<br>
Poetry: <a href='http://rpo.library.utoronto.ca/poems/dolores-notre-dame-des-sept-douleurs'>Dolores</a> by Algernon Charles Swinburne.</p>

<p>Map engine: <a href='https://codecanyon.net/item/mapplic-custom-interactive-map-jquery-plugin/6275001'>Mapplic</a> by&nbsp;sekler.{% if community %}<br>
Upstream project: <a href='http://nether-whisper.ru/rp/planescape/map-of-sigil/'>The Map of Sigil, City of Doors</a>.{% endif %}</p>
